@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pastries Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />

    <link rel="stylesheet" href="~/Content/bootstrappage.css" />

    <!-- global styles -->
    <link rel="stylesheet" href="~/Content/flexslider.css" />
    <link rel="stylesheet" href="~/Content/main.css" />

    <!-- scripts -->
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.scrolltotop.js"></script>
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <!-- <form method="POST" class="search_form">-->
                <label>Categories</label>
                <input type="search" list="Categories" class="input-block-level search-query" Placeholder="What do you want?" style="color:black;" onchange="openPage()" value="" id="searchcategory" />
                <datalist id="Categories">
                    <option>Cakes</option>
                    <option>Cookies</option>
                    <option>Bread</option>
                    <option>Pizza</option>
                    <option>Donut</option>
                </datalist>
                <!-- <input type="text" class="input-block-level search-query" Placeholder="eg. T-sirt">-->
                <!--</form>-->
            </div>
            <!--script for search--->
            <script>
                function openPage() {
                    var x = document.getElementById("searchcategory").value;

                    if (x === Cakes) {
                        window.open("/Home/TutorialDetails.cshtml");
                    }
                    if (x === Cookies) {
                        windows.open(@Html.ActionLink("Cookies", "TutorialDetails", "Home"));
                    }
                }
            </script>

            <!---------------------->
            <div class="span8">
                <div class="account pull-right">

                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <a class="logo pull-left"><img src="~/themes/images/logo.png" class="site_logo" alt=""></a>
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>@Html.ActionLink("HomePage", "Index", "Home")</li>
                        <li>@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                        <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                        <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                        <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                        <li>@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="header_text sub">
            <img class="pageBanner" src="~/themes/images/pageBanner.png" alt="New products">
            <h4><span>Tutorial Detail</span></h4>
        </section>
        <section class="main-content">
            <div class="row">
                <div class="span9">
                    <div class="row">
                        <div class="span4">
                            <a class="thumbnail" data-fancybox-group="group1" title="Description 1"><iframe width="365" height="315" src="https://www.youtube.com/embed/bstOsDXrRUs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
                            <ul class="thumbnails small">
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="~/Images/cakes01.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="~/Images/cakes01.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="~/Images/cakes01.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="~/Images/cakes01.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="span5">
                            <address>
                                <strong>Cakes:</strong> <span>CARROT CAKE</span><br><br />
                                <span>Carrot cake is cake that contains carrots mixed into the batter. Most modern carrot cake recipes have a white cream cheese frosting. Sometimes nuts such as walnuts or pecans are added into the cake batter, as well as spices such as cinnamon, ginger and ground mixed spice. Many food historians believe carrot cake originated from such carrot puddings eaten by Europeans in the Middle Ages, when sugar and sweeteners were expensive and many people used carrots as a substitute for sugar.</span>
                            </address>
                        </div>
                        <div class="span5">
                            <form class="form-inline">
                                <button class="btn btn-inverse" type="submit">@Html.ActionLink("Back", "CakesSection", "Home")</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span9">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a>Description</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="profile">
                                    <ul>
                                        <p>Ingridients</p>
                                        <li>nonstick cooking spray, for greasing</li>
                                        <li> 2 lb large carrot(480 g), peeled</li>
                                        <li>1 cup buttermilk(240 mL), room temperature</li>
                                        <li>2 ½ cups all purpose flour(322 g)</li>
                                        <li> 1 cup whole wheat flour(145 g)</li>
                                        <li> 1 tablespoon baking powder</li>
                                        <li>1 tablespoon ground cinnamon</li>
                                        <li> 2 teaspoons ground ginger</li>
                                        <li> 1 ¾ teaspoons kosher salt</li>
                                        <li> 1 teaspoon baking soda</li>
                                        <li> 1 teaspoon ground cloves</li>
                                        <li>1 teaspoon ground allspice</li>
                                        <li> 1 teaspoon freshly grated nutmeg</li>
                                        <li>2 cups light brown sugar(400 g)</li>
                                        <li>1 cup granulated sugar(200 g)</li>
                                        <li>4 large eggs, room temperature</li>
                                        <li> 1 tablespoon McCormick® vanilla extract</li>
                                        <li> 1 cup vegetable oil(240 mL)</li>
                                    </ul>
                                    <ul>
                                        <p>FROSTING</p>
                                        <li>2 sticks butter, softened</li>
                                        <li> 16 oz cream cheese(450 g), softened</li>
                                        <li>1 teaspoon vanilla extract</li>
                                        <li>1 teaspoon kosher salt</li>
                                        <li> 1 vanilla bean, seeds scraped</li>
                                        <li> 3 cups powdered sugar(330 g)</li>
                                    </ul>
                                    <ul>
                                        <p>INSTRUCTIONS</p>
                                        <li>Preheat the oven to 350°F (180°C). Line the bottoms of 3 9-inch round cake pans with parchment paper and grease with nonstick spray.</li>
                                        <li>Make the cake: Grate the carrots on the large holes of a box grater. You should have about 6 cups.</li>
                                        <li>In a large bowl, combine the grated carrots and buttermilk and stir until the carrots are completely coated.</li>
                                        <li>In a medium bowl, sift together the all-purpose and whole wheat flours, baking powder, cinnamon, ginger, salt, baking soda, cloves, allspice and nutmeg.</li>
                                        <li>In the bowl of a stand mixer fitted with the whisk attachment (or in a large bowl with an electric hand mixer), combine the brown and granulated sugars, eggs, and vanilla. Beat on medium speed until the mixture drips from the whisk in ribbons, about 3 minutes.</li>
                                        <li>With the mixer running on medium speed, slowly drizzle in the vegetable oil, scraping down the sides of the bowl halfway through, if necessary. Continue mixing until the mixture is fully emulsified, about 2 minutes.</li>
                                        <li>Add ⅓ of the flour mixture and mix on low speed until just combined. Add ½ of the carrot mixture and continue mixing on low speed until incorporated. Continue alternating adding the flour and carrot mixture. Remove the bowl from the mixer and use a flat rubber spatula to bring the batter together.</li>
                                        <li>Evenly divide the batter between the prepared cake pans.</li>
                                        <li>Bake until a toothpick inserted into the center of a cake comes out clean, about 25 minutes. Let the cakes cool for about 10 minutes, then remove from the pans and let cool completely.</li>
                                        <li>Make the frosting: In the bowl of a stand mixer fitted with the paddle attachment (or in a large bowl with an electric hand mixer), cream together the butter, cream cheese, vanilla extract, salt, and vanilla bean seeds until creamy, about 1 minute. Add the powdered sugar and continue mixing until silky and smooth, about 4 minutes.</li>
                                        <li>Assemble the cake: Dab a bit of frosting on a cake board and place a cake layer on top. Scoop 1 cup of frosting onto the cake. Repeat with the remaining 2 layers. Use the remaining frosting to coat the top of the cake completely, leaving the sides naked.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="span9">
                            <br>
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                            </h4>
                            <div id="myCarousel-1" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails listing-products">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a><img alt="" src="~/Images/cakes02.png"></a><br />
                                                    <a class="title">Wuam ultrices rutrum</a><br />
                                                    <a class="category">Suspendisse aliquet</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a><img alt="" src="~/Images/cakes02.png"></a><br />
                                                    <a class="title">Fusce id molestie massa</a><br />
                                                    <a class="category">Phasellus consequat</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <a><img alt="" src="~/Images/cakes02.png"></a><br />
                                                    <a class="title">Praesent tempor sem</a><br />
                                                    <a class="category">Erat gravida</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item">
                                        <ul class="thumbnails listing-products">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a><img alt="" src="~/Images/cakes02.png"></a><br />
                                                    <a class="title">Fusce id molestie massa</a><br />
                                                    <a class="category">Phasellus consequat</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <a><img alt="" src="~/Images/cakes02.png"></a><br />
                                                    <a>Praesent tempor sem</a><br />
                                                    <a class="category">Erat gravida</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a><img alt="" src="~/Images/cakes02.png"></a><br />
                                                    <a class="title">Wuam ultrices rutrum</a><br />
                                                    <a class="category">Suspendisse aliquet</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3 col">
                    <div class="block">
                        <ul class="nav nav-list">
                            <li class="active">@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                            <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                            <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                            <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                            <li>@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                        </ul>
                        <br />
                        <ul class="nav nav-list below">
                            <li class="nav-header">MANUFACTURES</li>
                            <li>Adidas</li>
                            <li>Nike</li>
                            <li>Dunlop</li>
                            <li>Yamaha</li>
                        </ul>
                    </div>
                    <div class="block">
                        <h4 class="title">
                            <span class="pull-left"><span class="text">Randomize</span></span>
                        </h4>
                        <div id="myCarousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a><img alt="" src="~/Images/cakes02.png"></a><br />
                                                <a class="title">Fusce id molestie massa</a><br />
                                                <a class="category">Suspendisse aliquet</a>
                                                <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <a><img alt="" src="~/Images/cakes02.png"></a><br />
                                                <a class="title">Tempor sem sodales</a><br />
                                                <a>Urna nec lectus mollis</a>
                                                <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <h4 class="title"><strong>Best</strong> Seller</h4>
                        <ul class="small-product">
                            <li>
                                <a title="Praesent tempor sem sodales">
                                    <img src="~/Images/cakes02.png" alt="Praesent tempor sem sodales">
                                </a>
                                <a>Praesent tempor sem</a>
                            </li>
                            <li>
                                <a title="Luctus quam ultrices rutrum">
                                    <img src="~/Images/cakes02.png" alt="Luctus quam ultrices rutrum">
                                </a>
                                <a>Luctus quam ultrices rutrum</a>
                            </li>
                            <li>
                                <a title="Fusce id molestie massa">
                                    <img src="~/Images/cakes02.png" alt="Fusce id molestie massa">
                                </a>
                                <a>Fusce id molestie massa</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li>@Html.ActionLink("HomePage", "Index", "Home")</li>
                        <li class="active">@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                        <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                        <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                        <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                        <li>@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                    </ul>
                </div>
                <div class="span4">
                </div>
                <div class="span5">
                    <p class="logo"><img src="~/themes/images/logo.png" class="site_logo" alt=""></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. the  Lorem Ipsum has been the industry's standard dummy text ever since the you.</p>
                    <br />
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
    <script src="themes/js/common.js"></script>
    <script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});

				$('#myCarousel-2').carousel({
                    interval: 2500
                });
			});
    </script>
</body>
</html>
