@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pastries Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />

    <link rel="stylesheet" href="~/Content/bootstrappage.css" />

    <!-- global styles -->
    <link rel="stylesheet" href="~/Content/flexslider.css" />
    <link rel="stylesheet" href="~/Content/main.css" />

    <!-- scripts -->
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.scrolltotop.js"></script>
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form method="POST" class="search_form">
                    <label>Categories</label>
                    <input type="search" list="Categories" class="input-block-level search-query" style="color:black;" Placeholder="What do you want?" value="" id="search1" onchange="openPage1()" />
                    <datalist id="Categories">
                        <option>Brioche Bread</option>
                        <option>ciabatta Bread</option>
                        <option>focaccia Bread</option>
                        <option>rye Bread</option>
                        <option>Bagels</option>
                        <option>damper Bread</option>
                        <option>english muffins</option>
                        <option>mango Bread loaf</option>
                        <option>banana pandan Bread</option>

                        <option>The Perfect Chocolate Cake</option>
                        <option>Chocolate Craving Cake</option>
                        <option>oreo earthquake Cake</option>
                        <option>Easy Carrot Cake</option>
                        <option>Lemon Sponge Cake</option>
                        <option>Mille Crepe Cake</option>
                        <option>Mirror Glaze Cake</option>
                        <option>Chocolate Cake</option>
                        <option>Carrot Cake</option>

                        <option>Amish Sugar Cookies</option>
                        <option>Banana Chocolate Chip Cookies</option>
                        <option>Big Soft Ginger Cookies</option>
                        <option>Chippy Peanut Butter Cookies</option>
                        <option>Red Velvet Chocolate Chip Cookies</option>
                        <option>Butter Cookies</option>
                        <option>Oreo Chunk Cookies</option>
                        <option>Peanut Butter-Chocolate No-Bake Cookies</option>
                        <option>GingerBread Men Cookies</option>

                        <option>Dark Chocolate Cupcakes with Peanut Butter Frosting</option>
                        <option>Homemade Funfetti Cupcakes CupCake</option>
                        <option>Mocha Cupcakes with Espresso Buttercream Frosting</option>
                        <option>Ultimate Chocolate Cupcakes</option>
                        <option>Cheese Cupcakes</option>
                        <option>Cheese Cupcakes</option>
                        <option>Coconut Macaroons</option>
                        <option>Moist chocolate Cupcakes with mocha buttercream frosting</option>
                        <option>Vanilla Cupcakes</option>

                        <option>Leche Flan</option>
                        <option>Ube Halaya</option>
                        <option>Sapin Sapin</option>
                        <option>Maja Blanca</option>
                        <option>Silvanas</option>
                        <option>Buko Pie</option>
                        <option>Biko</option>
                        <option>Carioca</option>
                        <option>Ginataang Bilo Bilo</option>
                    </datalist>
                </form>
            </div>
            <!--script for search--->
            <script>
                function openPage1() {
                    var x = document.getElementById("search1").value;
                    //for Breads
                    if (x === "Brioche Bread") {
                        window.open('@Url.Action("BreadsTutorial1","Home")');
                        close();
                    }
                    if (x === "ciabatta Bread") {
                        window.open('@Url.Action("BreadsTutorial2", "Home")');
                        close();
                    }
                    if (x === "focaccia Bread") {
                        window.open('@Url.Action("BreadsTutorial3", "Home")');
                        close();
                    }
                    if (x === "rye Bread") {
                        window.open('@Url.Action("BreadsTutorial4", "Home")');
                        close();
                    }
                    if (x === "Bagels") {
                        window.open('@Url.Action("BreadsTutorial5", "Home")');
                        close();
                    }
                    if (x === "damper Bread") {
                        window.open('@Url.Action("BreadsTutorial6", "Home")');
                        close();
                    }
                    if (x === "english muffins") {
                        window.open('@Url.Action("BreadsTutorial7", "Home")');
                        close();
                    }
                    if (x === "mango Bread loaf") {
                        window.open('@Url.Action("BreadsTutorial8", "Home")');
                        close();
                    }
                    if (x === "banana pandan Bread") {
                        window.open('@Url.Action("BreadsTutorial9", "Home")');
                        close();
                    }

                    //for Cakes
                    if (x === "The Perfect Chocolate Cake") {
                        window.open('@Url.Action("CakesTutorial1","Home")');
                        close();
                    }
                    if (x === "Chocolate Craving Cake") {
                        window.open('@Url.Action("CakesTutorial2", "Home")');
                        close();
                    }
                    if (x === "oreo earthquake Cake") {
                        window.open('@Url.Action("CakesTutoria13", "Home")');
                        close();
                    }
                    if (x === "Easy Carrot Cake") {
                        window.open('@Url.Action("CakesTutoria14", "Home")');
                        close();
                    }
                    if (x === "Lemon Sponge Cake") {
                        window.open('@Url.Action("CakesTutorial5", "Home")');
                        close();
                    }
                    if (x === "Mille Crepe Cake") {
                        window.open('@Url.Action("CakesTutoria16", "Home")');
                        close();
                    }
                    if (x === "Mirror Glaze Cake") {
                        window.open('@Url.Action("CakesTutorial7", "Home")');
                        close();
                    }
                    if (x === "Chocolate Cake") {
                        window.open('@Url.Action("CakesTutorial8", "Home")');
                        close();
                    }
                    if (x === "Carrot Cake") {
                        window.open('@Url.Action("CakesTutorial9", "Home")');
                        close();
                    }

                    //for Cookies
                    if (x === "Amish Sugar Cookies") {
                        window.open('@Url.Action("CookiesTutorial1","Home")');
                        close();
                    }
                    if (x === "Banana Chocolate Chip Cookies") {
                        window.open('@Url.Action("CookiesTutorial2", "Home")');
                        close();
                    }
                    if (x === "Big Soft Ginger Cookies") {
                        window.open('@Url.Action("CookiesTutorial3", "Home")');
                        close();
                    }
                    if (x === "Chippy Peanut Butter Cookies") {
                        window.open('@Url.Action("CookiesTutorial4", "Home")');
                        close();
                    }
                    if (x === "Red Velvet Chocolate Chip Cookies") {
                        window.open('@Url.Action("CookiesTutorial5", "Home")');
                        close();
                    }
                    if (x === "Butter Cookies") {
                        window.open('@Url.Action("CookiesTutorial6", "Home")');
                        close();
                    }
                    if (x === "Oreo Chunk Cookies") {
                        window.open('@Url.Action("CookiesTutorial7", "Home")');
                        close();
                    }
                    if (x === "Peanut Butter-Chocolate No-Bake Cookies") {
                        window.open('@Url.Action("CookiesTutorial8", "Home")');
                        close();
                    }
                    if (x === "GingerBread Men Cookies") {
                        window.open('@Url.Action("CookiesTutorial9", "Home")');
                        close();
                    }

                    //for Cupcakes
                    if (x === "Dark Chocolate Cupcakes with Peanut Butter Frosting") {
                        window.open('@Url.Action("CupcakesTutorial1","Home")');
                        close();
                    }
                    if (x === "Homemade Funfetti Cupcakes CupCake") {
                        window.open('@Url.Action("CupcakesTutorial2", "Home")');
                        close();
                    }
                    if (x === "Mocha Cupcakes with Espresso Buttercream Frosting") {
                        window.open('@Url.Action("CupcakesTutorial3", "Home")');
                        close();
                    }
                    if (x === "Ultimate Chocolate Cupcakes") {
                        window.open('@Url.Action("CupcakesTutorial4", "Home")');
                        close();
                    }
                    if (x === "Cheese Cupcakes") {
                        window.open('@Url.Action("CupcakesTutorial5", "Home")');
                        close();
                    }
                    if (x === "Cheese Cupcakes") {
                        window.open('@Url.Action("CupcakesTutorial6", "Home")');
                        close();
                    }
                    if (x === "Coconut Macaroons") {
                        window.open('@Url.Action("CupcakesTutorial7", "Home")');
                        close();
                    }
                    if (x === "Moist chocolate Cupcakes with mocha buttercream frosting") {
                        window.open('@Url.Action("CupcakesTutorial8", "Home")');
                        close();
                    }
                    if (x === "Vanilla Cupcakes") {
                        window.open('@Url.Action("CupcakesTutorial9", "Home")');
                        close();
                    }

                    //for pinoy delicacies
                    if (x === "Leche Flan") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial1","Home")');
                        close();
                    }
                    if (x === "Ube Halaya") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial2", "Home")');
                        close();
                    }
                    if (x === "Sapin Sapin") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial3", "Home")');
                        close();
                    }
                    if (x === "Maja Blanca") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial4", "Home")');
                        close();
                    }
                    if (x === "Silvanas") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial5", "Home")');
                        close();
                    }
                    if (x === "Buko Pie") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial6", "Home")');
                        close();
                    }
                    if (x === "Biko") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial7", "Home")');
                        close();
                    }
                    if (x === "Carioca") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial8", "Home")');
                        close();
                    }
                    if (x === "Ginataang Bilo Bilo") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial9", "Home")');
                        close();
                    }

                }
            </script>
            <!---------------------->
            <div class="span8">
                <div class="account pull-right">

                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>@Html.ActionLink("HomePage", "Index", "Home")</li>
                        <li>@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                        <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                        <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                        <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                        <li>@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="header_text sub">
            <img class="pageBanner" src="~/themes/images/pageBanner.png" alt="New products">
            <h4><span>Tutorial Detail</span></h4>
        </section>
        <section class="main-content">
            <div class="row">
                <div class="span9">
                    <div class="row">
                        <div class="span4">
                            <a class="thumbnail" data-fancybox-group="group1" title="Description 1"><iframe width="365" height="315" src="https://www.youtube.com/embed/x_dpZHIqzq4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
                            <ul class="thumbnails small">
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="~/Images/Cakes05.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="~/Images/Cakes05.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="~/Images/Cakes05.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="~/Images/Cakes05.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="span5">
                            <address>
                                <strong>Cakes:</strong> <span>Lemon Sponge Cake</span><br><br />
                            </address>
                        </div>
                        <div class="span5">
                            <form class="form-inline">
                                <button class="btn btn-inverse" type="submit">@Html.ActionLink("Back", "CakesSection", "Home")</button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span9">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a>Description</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="profile">
                                    <ul>
                                        <p>Ingridients</p>
                                        <li>175g unsalted butter , softened, plus extra for the tin</li>
                                        <li>175g golden caster sugar</li>
                                        <li>3 large eggs</li>
                                        <li>3 large unwaxed lemons , zested, plus 4-4 ½ tbsp juice</li>
                                        <li> 250g self-raising flour</li>
                                        <li>½ tsp baking powder</li>
                                        <li>100g Greek yogurt</li>
                                        <li> 400g icing sugar</li>
                                        <li>lemon zest or candied peel, to serve (optional)</li>
                                    </ul>
                                    <ul>
                                        <p>For the candied peel</p>
                                        <li>2 large lemons</li>
                                        <li>200g granulated sugar</li>
                                    </ul>
                                    <ul>
                                        <p>INSTRUCTIONS</p>
                                        <li>STEP 1
Heat oven to 170C/150C fan/gas 3. Butter a deep, loose-bottomed, 18cm Cake tin and line the base with baking parchment.
</li>•	STEP 2
Beat the butter and caster sugar together with an electric whisk until fluffy and pale in colour. Crack the eggs in one at a time, beating well after each addition, then stir in the lemon zest. Fold in the flour, baking powder and ½ tsp salt, then fold in the yogurt
 </li>
                                        <li>•	STEP 3
Spoon the mixture into the lined tin, smoothing the top with a spatula. Bake in the centre of the oven for 50-55 mins, or until golden brown on top and firm to the touch. Cool in the tin for 10 mins before turning out onto a wire rack to cool completely. Will keep in an airtight container for up to four days, or in the freezer for up to a month.
.</li>
                                        <li>•	STEP 4
When you’re ready to decorate, sieve the icing sugar into a bowl and beat in enough of the lemon juice to create a thick icing. Set the Cake on a serving plate or Cake stand, then spoon over the icing, allowing it to drip down the sides a little. Top with the lemon zest or candied peel, if using (see below), and cut into generous wedges to serve.
</li>
                                        <li>
                                            •	STEP 5
                                            To make candied lemon peel, peel large, wide strips from the lemons using a vegetable peeler. Remove any pith with a knife, then julienne the peel into very thin matchsticks. Tip the granulated sugar into a saucepan with 200ml water and set over a medium heat until the sugar has dissolved. Add the lemon peel and simmer gently for 15 mins, then scoop the peel out using a slotted spoon and set on a piece of kitchen paper to cool. Use to decorate the top of your Cake.

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="span9">
                            <br>
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                            </h4>
                            <div id="myCarousel-1" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails listing-products">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a><img alt="" src="~/Images/Cakes02.png"></a><br />
                                                    <a class="title">Chocolate Craving Cake</a><br />
                                                    <a class="category">Bread</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesTutorials2", "Home")</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a><img alt="" src="~/Images/Cakes02.png"></a><br />
                                                    <a class="title">Chocolate Craving Cake</a><br />
                                                    <a class="category">Bread</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesTutorial2", "Home")</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <a><img alt="" src="~/Images/Cakes02.png"></a><br />
                                                    <a class="title">Chocolate Craving Cake</a><br />
                                                    <a class="category">Bread</a>
                                                    <p>@Html.ActionLink("Check Now!", "CakesTutorial2", "Home")</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3 col">
                    <div class="block">
                        <ul class="nav nav-list">
                            <li class="active">@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                            <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                            <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                            <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                            <li>@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                        </ul>
                        <br />
                        <ul class="nav nav-list below">
                            <li class="nav-header">MANUFACTURES</li>
                            <li>Adidas</li>
                            <li>Nike</li>
                            <li>Dunlop</li>
                            <li>Yamaha</li>
                        </ul>
                    </div>
                    <div class="block">
                        <h4 class="title">
                            <span class="pull-left"><span class="text">Randomize</span></span>
                        </h4>
                        <div id="myCarousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a><img alt="" src="~/Images/Cakes02.png"></a><br />
                                                <a class="title">Fusce id molestie massa</a><br />
                                                <a class="category">Suspendisse aliquet</a>
                                                <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <a><img alt="" src="~/Images/Cakes02.png"></a><br />
                                                <a class="title">Tempor sem sodales</a><br />
                                                <a>Urna nec lectus mollis</a>
                                                <p>@Html.ActionLink("Check Now!", "CakesSection", "Home")</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <h4 class="title"><strong>Best</strong> Seller</h4>
                        <ul class="small-product">
                            <li>
                                <a title="Chocolate Craving Cake">
                                    <img src="~/Images/cakes02.png" alt="Chocolate Craving Cake">
                                </a>
                                <a>@Html.ActionLink("Chocolate Craving Cake", "CakesSection", "Home")</a>
                            </li>
                            <li>
                                <a title="Chocolate Craving Cake">
                                    <img src="~/Images/cakes02.png" alt="Chocolate Craving Cake">
                                </a>
                                <a>@Html.ActionLink("Chocolate Craving Cake", "CakesSection", "Home")</a>
                            </li>
                            <li>
                                <a title="Chocolate Craving Cake">
                                    <img src="~/Images/cakes02.png" alt="Chocolate Craving Cake">
                                </a>
                                <a>@Html.ActionLink("Chocolate Craving Cake", "CakesSection", "Home")</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li>@Html.ActionLink("HomePage", "Index", "Home")</li>
                        <li class="active">@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                        <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                        <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                        <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                        <li>@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                    </ul>
                </div>
                <div class="span4">
                </div>
                <div class="span5">
                    <br />
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
    <script src="themes/js/common.js"></script>
    <script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});

				$('#myCarousel-2').carousel({
                    interval: 2500
                });
			});
    </script>
</body>
</html>
