@{
    Layout = null;
}


<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Pastries Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-responsive.min.css" />

    <link rel="stylesheet" href="~/Content/bootstrappage.css" />

    <!-- global styles -->
    <link rel="stylesheet" href="~/Content/flexslider.css" />
    <link rel="stylesheet" href="~/Content/main.css" />

    <!-- scripts -->
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/superfish.js"></script>
    <script src="~/Scripts/jquery.scrolltotop.js"></script>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body>
    <div id="top-bar" class="container">
        <div class="row">
            <div class="span4">
                <form method="POST" class="search_form">
                    <label>Categories</label>
                    <input type="search" list="Categories" class="input-block-level search-query" style="color:black;" Placeholder="What do you want?" value="" id="search1" onchange="openPage1()" />
                    <datalist id="Categories">
                        <option>Brioche Bread</option>
                        <option>ciabatta Bread</option>
                        <option>focaccia Bread</option>
                        <option>rye Bread</option>
                        <option>Bagels</option>
                        <option>damper Bread</option>
                        <option>english muffins</option>
                        <option>mango Bread loaf</option>
                        <option>banana pandan Bread</option>

                        <option>The Perfect Chocolate Cake</option>
                        <option>Chocolate Craving Cake</option>
                        <option>oreo earthquake Cake</option>
                        <option>Easy Carrot Cake</option>
                        <option>Lemon Sponge Cake</option>
                        <option>Mille Crepe Cake</option>
                        <option>Mirror Glaze Cake</option>
                        <option>Chocolate Cake</option>
                        <option>Carrot Cake</option>

                        <option>Amish Sugar Cookies</option>
                        <option>Banana Chocolate Chip Cookies</option>
                        <option>Big Soft Ginger Cookies</option>
                        <option>Chippy Peanut Butter Cookies</option>
                        <option>Red Velvet Chocolate Chip Cookies</option>
                        <option>Butter Cookies</option>
                        <option>Oreo Chunk Cookies</option>
                        <option>Peanut Butter-Chocolate No-Bake Cookies</option>
                        <option>GingerBread Men Cookies</option>

                        <option>Dark Chocolate Cupcakes with Peanut Butter Frosting</option>
                        <option>Homemade Funfetti Cupcakes CupCake</option>
                        <option>Mocha Cupcakes with Espresso Buttercream Frosting</option>
                        <option>Ultimate Chocolate Cupcakes</option>
                        <option>Cheese Cupcakes</option>
                        <option>Cheese Cupcakes</option>
                        <option>Coconut Macaroons</option>
                        <option>Moist chocolate Cupcakes with mocha buttercream frosting</option>
                        <option>Vanilla Cupcakes</option>

                        <option>Leche Flan</option>
                        <option>Ube Halaya</option>
                        <option>Sapin Sapin</option>
                        <option>Maja Blanca</option>
                        <option>Silvanas</option>
                        <option>Buko Pie</option>
                        <option>Biko</option>
                        <option>Carioca</option>
                        <option>Ginataang Bilo Bilo</option>
                    </datalist>
                </form>
            </div>
            <!--script for search--->
            <script>
                function openPage1() {
                    var x = document.getElementById("search1").value;
                    //for Breads
                    if (x === "Brioche Bread") {
                        window.open('@Url.Action("BreadsTutorial1","Home")');
                        close();
                    }
                    if (x === "ciabatta Bread") {
                        window.open('@Url.Action("BreadsTutorial2", "Home")');
                        close();
                    }
                    if (x === "focaccia Bread") {
                        window.open('@Url.Action("BreadsTutorial3", "Home")');
                        close();
                    }
                    if (x === "rye Bread") {
                        window.open('@Url.Action("BreadsTutorial4", "Home")');
                        close();
                    }
                    if (x === "Bagels") {
                        window.open('@Url.Action("BreadsTutorial5", "Home")');
                        close();
                    }
                    if (x === "damper Bread") {
                        window.open('@Url.Action("BreadsTutorial6", "Home")');
                        close();
                    }
                    if (x === "english muffins") {
                        window.open('@Url.Action("BreadsTutorial7", "Home")');
                        close();
                    }
                    if (x === "mango Bread loaf") {
                        window.open('@Url.Action("BreadsTutorial8", "Home")');
                        close();
                    }
                    if (x === "banana pandan Bread") {
                        window.open('@Url.Action("BreadsTutorial9", "Home")');
                        close();
                    }

                    //for Cakes
                    if (x === "The Perfect Chocolate Cake") {
                        window.open('@Url.Action("CakesTutorial1","Home")');
                        close();
                    }
                    if (x === "Chocolate Craving Cake") {
                        window.open('@Url.Action("CakesTutorial2", "Home")');
                        close();
                    }
                    if (x === "oreo earthquake Cake") {
                        window.open('@Url.Action("CakesTutoria13", "Home")');
                        close();
                    }
                    if (x === "Easy Carrot Cake") {
                        window.open('@Url.Action("CakesTutoria14", "Home")');
                        close();
                    }
                    if (x === "Lemon Sponge Cake") {
                        window.open('@Url.Action("CakesTutorial5", "Home")');
                        close();
                    }
                    if (x === "Mille Crepe Cake") {
                        window.open('@Url.Action("CakesTutoria16", "Home")');
                        close();
                    }
                    if (x === "Mirror Glaze Cake") {
                        window.open('@Url.Action("CakesTutorial7", "Home")');
                        close();
                    }
                    if (x === "Chocolate Cake") {
                        window.open('@Url.Action("CakesTutorial8", "Home")');
                        close();
                    }
                    if (x === "Carrot Cake") {
                        window.open('@Url.Action("CakesTutorial9", "Home")');
                        close();
                    }

                    //for Cookies
                    if (x === "Amish Sugar Cookies") {
                        window.open('@Url.Action("CookiesTutorial1","Home")');
                        close();
                    }
                    if (x === "Banana Chocolate Chip Cookies") {
                        window.open('@Url.Action("CookiesTutorial2", "Home")');
                        close();
                    }
                    if (x === "Big Soft Ginger Cookies") {
                        window.open('@Url.Action("CookiesTutorial3", "Home")');
                        close();
                    }
                    if (x === "Chippy Peanut Butter Cookies") {
                        window.open('@Url.Action("CookiesTutorial4", "Home")');
                        close();
                    }
                    if (x === "Red Velvet Chocolate Chip Cookies") {
                        window.open('@Url.Action("CookiesTutorial5", "Home")');
                        close();
                    }
                    if (x === "Butter Cookies") {
                        window.open('@Url.Action("CookiesTutorial6", "Home")');
                        close();
                    }
                    if (x === "Oreo Chunk Cookies") {
                        window.open('@Url.Action("CookiesTutorial7", "Home")');
                        close();
                    }
                    if (x === "Peanut Butter-Chocolate No-Bake Cookies") {
                        window.open('@Url.Action("CookiesTutorial8", "Home")');
                        close();
                    }
                    if (x === "GingerBread Men Cookies") {
                        window.open('@Url.Action("CookiesTutorial9", "Home")');
                        close();
                    }

                    //for Cupcakes
                    if (x === "Dark Chocolate Cupcakes with Peanut Butter Frosting") {
                        window.open('@Url.Action("CupcakesTutorial1","Home")');
                        close();
                    }
                    if (x === "Homemade Funfetti Cupcakes CupCake") {
                        window.open('@Url.Action("CupcakesTutorial2", "Home")');
                        close();
                    }
                    if (x === "Mocha Cupcakes with Espresso Buttercream Frosting") {
                        window.open('@Url.Action("CupcakesTutorial3", "Home")');
                        close();
                    }
                    if (x === "Ultimate Chocolate Cupcakes") {
                        window.open('@Url.Action("CupcakesTutorial4", "Home")');
                        close();
                    }
                    if (x === "Cheese Cupcakes") {
                        window.open('@Url.Action("CupcakesTutorial5", "Home")');
                        close();
                    }
                    if (x === "Cheese Cupcakes") {
                        window.open('@Url.Action("CupcakesTutorial6", "Home")');
                        close();
                    }
                    if (x === "Coconut Macaroons") {
                        window.open('@Url.Action("CupcakesTutorial7", "Home")');
                        close();
                    }
                    if (x === "Moist chocolate Cupcakes with mocha buttercream frosting") {
                        window.open('@Url.Action("CupcakesTutorial8", "Home")');
                        close();
                    }
                    if (x === "Vanilla Cupcakes") {
                        window.open('@Url.Action("CupcakesTutorial9", "Home")');
                        close();
                    }

                    //for pinoy delicacies
                    if (x === "Leche Flan") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial1","Home")');
                        close();
                    }
                    if (x === "Ube Halaya") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial2", "Home")');
                        close();
                    }
                    if (x === "Sapin Sapin") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial3", "Home")');
                        close();
                    }
                    if (x === "Maja Blanca") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial4", "Home")');
                        close();
                    }
                    if (x === "Silvanas") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial5", "Home")');
                        close();
                    }
                    if (x === "Buko Pie") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial6", "Home")');
                        close();
                    }
                    if (x === "Biko") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial7", "Home")');
                        close();
                    }
                    if (x === "Carioca") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial8", "Home")');
                        close();
                    }
                    if (x === "Ginataang Bilo Bilo") {
                        window.open('@Url.Action("PinoyDelicaciesTutorial9", "Home")');
                        close();
                    }

                }
            </script>
            <!---------------------->
            <div class="span8">
                <div class="account pull-right">

                </div>
            </div>
        </div>
    </div>

    <div id="wrapper" class="container">
        <section class="navbar main-menu">
            <div class="navbar-inner main-menu">
                
                <nav id="menu" class="pull-right">
                    <ul>
                        <li>@Html.ActionLink("HomePage", "Index", "Home")</li>
                        <li>@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                        <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                        <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                        <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                        <li>@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="header_text sub">
            <img class="pageBanner" src="~/Images/banner01.png" alt="New products">
            <h4><span>Tutorial Detail</span></h4>
        </section>
        <section class="main-content">
            <div class="row">
                <div class="span9">
                    <div class="row">
                        <div class="span4">
                            <a class="thumbnail" data-fancybox-group="group1" title="Description 1"><iframe width="365" height="315" src="https://www.youtube.com/embed/uA28nOVCH5I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></a>
                            <ul class="thumbnails small">
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 2"><img src="~/Images/pinoy08.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 3"><img src="~/Images/pinoy08.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 4"><img src="~/Images/pinoy08.png" alt=""></a>
                                </li>
                                <li class="span1">
                                    <a class="thumbnail" data-fancybox-group="group1" title="Description 5"><img src="~/Images/pinoy08.png" alt=""></a>
                                </li>
                            </ul>
                        </div>
                        <div class="span5">
                            <address>
                                <strong>PinoyDelicacies:</strong> <span>Carioca</span><br><br />
                                <span>Carioca is a delicious fried sticky rice ball with a coconut caramel sauce. They’re similar to beignets, the fried dough goodies from Louisiana. This local delicacy made of sweet rice flour (glutinous rice flour can also be used) and sweetened shredded coconut can be enjoyed as a dessert or snack. These can be considered a street food since Carioca vendors are a common sight on the streets of Manila. They are usually served on bamboo skewers. </span>
                            </address>
                        </div>
                        <div class="span5">
                            <form class="form-inline">
                                <button class="btn btn-inverse" type="submit">@Html.ActionLink("Back", "PinoyDelicaciesSection", "Home")</button>
                            </form>
                            <script async src="https://api.countapi.xyz/hit/pastrywebsite.somee.com/47f41e82-702b-4bdb-a798-09b290524e8b?callback=websiteVisits"></script>
                            <h1>Viewer <span id="visits">times.</span></h1>
                            <script type="text/javascript">
                            function websiteVisits(response) {
                                document.querySelector("#visits").textContent = response.value;
                            }
                            </script>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span9">
                            <ul class="nav nav-tabs" id="myTab">
                                <li class="active"><a>Description</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="profile">
                                    <ul>
                                        <p>Ingridients</p>
                                        <p>For the Carioca</p>
                                        <li> 1 1/2 cups glutinous rice flour</li>
                                        <li> 1 cup water (and 1 tablespoon or so more if needed)</li>
                                        <li> canola oil</li>
                                    </ul>
                                    <ul>
                                        <p>For the Sugar Coating</p>
                                        <li>1 cup sugar</li>
                                        <li> 1/4 cup water</li>
                                    </ul>
                                    <ul>
                                        <p>INSTRUCTIONS</p>
                                        <li>In a bowl, combine glutinous rice flour and 1 cup of water. Stir until flour is Moistened. If needed, add 1 tablespoon of water at a time to form a firm but smooth and pliable dough. Dough should not feel dry or too sticky.</li>
                                        <li>Scoop about 1 teaspoonful of dough and roll in palm of hands into 1-inch balls. Using the sharp end of one bamboo skewer, poke through each dough ball.</li>
                                        <li>In a wide pan over medium heat, heat about 3-inches deep of oil. Gently add balls into the oil and cook, stirring occasionally, until they float to the top. Continue to cook for another 1 to 2 minutes or until golden.</li>
                                        <li>With a slotted spoon, remove from pan and drain on paper towels.</li>
                                        <li>Dip Carioca in the sugar syrup until fully coated. Arrange in single layer on a wire rack set over a pan or on a parchment-lined baking sheet to cool. </li>
                                        <li>Skewer in bamboo skewers if desired.</li>
                                        <li>For the Sugar Coating</li>
                                        <li>In a saucepan, combine dark brown sugar and 1/4 cup water. Stir until sugar is dissolved.</li>
                                        <li>Over medium heat, bring to a boil. Continue to cook WITHOUT stirring until syrup golden brown. </li>
                                        <li>Remove from oven, allow to cool, and refrigerate to chill and completely set. To serve, turn flan over on a serving plate, ending with caramel on top.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="span9">
                            <br>
                            <h4 class="title">
                                <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                            </h4>
                            <div id="myCarousel-1" class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <ul class="thumbnails listing-products">
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a><img alt="" src="~/Images/pinoy02.png"></a><br />
                                                    <a class="title">Ube Halaya</a><br />
                                                    <a class="category">Pinoy Delicacies</a>
                                                    <p>@Html.ActionLink("Check Now!", "PinoyDelicaciesTutorial2", "Home")</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <span class="sale_tag"></span>
                                                    <a><img alt="" src="~/Images/pinoy02.png"></a><br />
                                                    <a class="title">Ube Halaya</a><br />
                                                    <a class="category">Pinoy Delicaciest</a>
                                                    <p>@Html.ActionLink("Check Now!", "PinoyDelicaciesTutorial2", "Home")</p>
                                                </div>
                                            </li>
                                            <li class="span3">
                                                <div class="product-box">
                                                    <a><img alt="" src="~/Images/pinoy02.png"></a><br />
                                                    <a class="title">Ube Halaya</a><br />
                                                    <a class="category">Pinoy Delicacies</a>
                                                    <p>@Html.ActionLink("Check Now!", "PinoyDelicaciesTutorial2", "Home")</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="span3 col">
                    <div class="block">
                        <ul class="nav nav-list">
                            <li class="nav-header">Sub Categories</li>
                            <li>@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                            <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                            <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                            <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                            <li class="active">@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                        </ul>
                        <br />
                       
                    </div>
                    <div class="block">
                        <h4 class="title">
                            <span class="pull-left"><span class="text">Randomize</span></span>
                        </h4>
                        <div id="myCarousel" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a><img alt="" src="~/Images/pinoy02.png"></a><br />
                                                <a class="title">Fusce id molestie massa</a><br />
                                                <a class="category">Suspendisse aliquet</a>
                                                <p>@Html.ActionLink("Check Now!", "PinoyDelicaciesSection", "Home")</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block">
                        <h4 class="title"><strong>Best</strong> Seller</h4>
                        <ul class="small-product">
                            <li>
                                <a title="Ube Halaya">
                                    <img src="~/Images/pinoy02.png" alt="Ube Halaya">
                                </a>
                                <a>@Html.ActionLink("Ube Halaya", "PinoyDelicaciesTutorial2", "Home")</a>
                            </li>
                            <li>
                                <a title="Ube Halaya">
                                    <img src="~/Images/pinoy02.png" alt="Ube Halaya">
                                </a>
                                <a>@Html.ActionLink("Ube Halaya", "PinoyDelicaciesTutorial2", "Home")</a>
                            </li>
                            <li>
                                <a title="Ube Halaya">
                                    <img src="~/Images/pinoy02.png" alt="Ube Halaya">
                                </a>
                                <a>@Html.ActionLink("Ube Halaya", "PinoyDelicaciesTutorial2", "Home")</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <nav class="navbar navbar-default">
        </nav>
        <div class="col-md-3"></div>
        <div class="col-md-6 well">
            <div class="col-md-6">
                <div>
                    <h3>Rating:</h3>
                    <span id="1" style="font-size:45px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
                    <span id="2" style="font-size:45px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
                    <span id="3" style="font-size:45px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
                    <span id="4" style="font-size:45px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
                    <span id="5" style="font-size:45px; cursor:pointer;" class="fa fa-star" onmouseover="startRating(this)" startRating="starmark(this)"></span>
                </div>
                <br />
                <div class="form-group">
                    <h3>Review:</h3>
                    <textarea id="review" class="form-control" style="resize:none; height:100px;"></textarea>
                </div>
                <center><button class="btn btn-success" onclick="result()">SUBMIT</button></center>
                <div id="result"></div>
            </div>
        </div>
        <script type="text/javascript">
            var count = 0;

            function result() {
                if (count != 0) {
                    document.getElementById('result').innerHTML =
                    "<h4>Rating: <label class='text-primary'>" + count + "</label></h4>"
                    + "<h4>Review</h4>"
                    + "<p>" + document.getElementById("review").value + "</p>";
                } else {

                }
            }

            function startRating(item) {
                count = item.id[0];
                sessionStorage.star = count;
                for (var i = 0; i < 5; i++) {
                    if (i < count) {
                        document.getElementById((i + 1)).style.color = "yellow";
                    }
                    else {
                        document.getElementById((i + 1)).style.color = "black";
                    }
                }
            }
        </script>
        <section id="footer-bar">
            <div class="row">
                <div class="span3">
                    <h4>Navigation</h4>
                    <ul class="nav">
                        <li>@Html.ActionLink("HomePage", "Index", "Home")</li>
                        <li>@Html.ActionLink("Cakes", "CakesSection", "Home")</li>
                        <li>@Html.ActionLink("Cookies", "CookiesSection", "Home")</li>
                        <li>@Html.ActionLink("Cupcakes", "CupcakesSection", "Home")</li>
                        <li>@Html.ActionLink("Breads", "BreadsSection", "Home")</li>
                        <li class="active">@Html.ActionLink("Pinoy Delicacies", "PinoyDelicaciesSection", "Home")</li>
                    </ul>
                </div>
                <div class="span4">
                </div>
                <div class="span5">
                     
                     
                    <br />
                    <span class="social_icons">
                        <a class="facebook" href="#">Facebook</a>
                        <a class="twitter" href="#">Twitter</a>
                        <a class="skype" href="#">Skype</a>
                        <a class="vimeo" href="#">Vimeo</a>
                    </span>
                </div>
            </div>
        </section>
    </div>
    <script src="themes/js/common.js"></script>
    <script>
			$(function () {
				$('#myTab a:first').tab('show');
				$('#myTab a').click(function (e) {
					e.preventDefault();
					$(this).tab('show');
				})
			})
			$(document).ready(function() {
				$('.thumbnail').fancybox({
					openEffect  : 'none',
					closeEffect : 'none'
				});

				$('#myCarousel-2').carousel({
                    interval: 2500
                });
			});
    </script>
</body>
</html>
